sudo: required
services:
    - docker
before_install:
    - docker build -t maheshgprasad/frontend -f Dockerfile.dev .


script:
    - docker run maheshgprasad/frontend npm run test -- --coverage

deploy:
    provider: elasticbeanstalk
    region: "ap-south-1"
    app: "docker-react"
    env: "DockerReact-env"
    bucket_name: "elasticbeanstalk-ap-south-1-865507620189"
    bucket_path: "docker-react"
    on:
        branch: master
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key:
        secure: "$AWS_SECRET_KEY"