version: '3'
services:
  web:
     build: 
      context: ./
      dockerfile: Dockerfile.dev
  ports:
       host: "3008"
       container: "3000"
  volumes:
       - /app/node_modules
       - ./ :/usr/app